
@media only screen and (min-width: 0){
  body{
    font-size: 16px;
    background-image: url(../images/bg-m.jpg);
    background-size: 100%;
    // background-attachment: unset;
    .bottom-bg{
      width: 100vw;
      min-height: 100vh;
      background-image: url(../images/bottom-bg.png);
      background-repeat: no-repeat;
      background-position: bottom center;
      background-size: 100%;
    }
  }
  .m-break{
    display: block;
  }
  .game-logo{
    margin: 0 auto;
    padding: 1em;
    max-width: 60vw;
    img{
      width: 100%;
    }
  }
  .reel{
    .reel-img{
      filter: drop-shadow(1vw 1vw 0.5vw rgba(0, 0, 0, 0.35));
    }
    .reel-content{
      margin: 0 0.5em;
      transform: translateY(-7vw);
      .copywriting{
        padding-top: 18em;
      }
      .yellow-bg{
        padding-top: 6vw;
        .yellow-white-bg{
          padding: 0.5em;
          .wax-seal{
            transform: scale(0.6);
          }
        }
        .content{
          padding: 0 0.625em;
        }
        dl{
          &.fishing-prince{
            flex-wrap: wrap;
            dd{
              &:nth-last-child(1){
                padding-bottom: 1em;
                width: 100%;
                text-align: center;
                img{
                  max-width: 70%;
                }
              }
            }
          }
        }
      }
    }
  }
  .eudemons-rows{
    grid-template-columns: unset;
    grid-template-areas: "ossian ossian";
    > div{
      &:nth-child(1){
        grid-area: ossian;
      }
    }
  }
  .water-bg{
    padding: unset;
    max-width: 100%;
    height: 100%;
    .buttons{
      &.button1,
      &.button2,
      &.button3{
        button{
          width: 20vw;
          height: 35px;
        }
      }
      &.button4{
        button{
          width: 15vw;
          height: 35px;
        }
      }
    }
  }
  .sgwk{
    padding-right: unset;
  }
}
@media only screen and (min-width: 365px){
  .water-bg{
    padding: 1em 0 2em;
    max-width: 300px;
    height: 300px;
  }
}
@media only screen and (min-width: 450px){
  .game-logo{
    margin: 0 auto;
    padding: 1em;
    max-width: 356px;
    img{
      width: 100%;
    }
  }
  .water-bg{
    .buttons{
      &.button1,
      &.button2,
      &.button3{
        button{
          width: 90px;
          height: 45px;
        }
      }
      &.button4{
        button{
          width: 67px;
          height: 45px;
        }
      }
    }
  }
  .reel{
    .reel-content{
      .yellow-bg{
        .yellow-white-bg{
          padding: 0.625em;
        }
      }
    }
  }
  .sgwk{
    padding-right: 1em;
  }
}
@media only screen and (min-width: 520px){
  .m-break{
    display: inline;
  }
  // .reel-content{
  //   .yellow-bg{
  //     dl{
  //       &.fishing-prince{
  //         dd{
  //           &:nth-last-child(1){
  //             img{
  //               max-width: 268px;
  //             }
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
}
@media only screen and (min-width: 700px){
  body{
    font-size: 22px;
    background-image: url(../images/bg.jpg);
    background-size: unset;
    // background-attachment: fixed;
    .bottom-bg{
      width: unset;
      height: unset;
      background-image: unset;
      background-repeat: unset;
      background-position: unset;
      background-size: unset;
    }
  }
  .reel{
    .reel-content{
      margin: 0 1em;
      .copywriting{
        padding-top: 13em;
      }
      .yellow-bg{
        .yellow-white-bg{
          .wax-seal{
            transform: scale(1);
          }
        }
        .content{
          padding: 0 2em;
        }
      }
    }
  }
}

@media only screen and (min-width: 900px){
  .reel{
    .reel-content{
      .yellow-bg{
        dl{
          &.fishing-prince{
            flex-wrap: nowrap;
            dd{
              // width: unset;
              &:nth-last-child(1){
                width: unset;
                img{
                  max-width: unset;
                }
              }
              div{
                column-count: unset;
              }
            }
          }
        }
      }
    }
  }
  .eudemons-rows{
    grid-template-columns: 300px 1fr 1fr;
    grid-template-areas: unset;
    > div{
      &:nth-child(1){
        grid-area: unset;
      }
    }
  }
}

@media only screen and (min-width: 1100px){
  .reel{
    .reel-content{
      .yellow-bg{
        dl{
          &.fishing-prince{
            dd{
              div{
                column-count: 2;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px){
  .reel{
    .reel-content{
      .yellow-bg{
        dl{
          &.fishing-prince{
            dd{
              div{
                column-count: 3;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1286px){
  .reel{
    .reel-img{
      filter: drop-shadow(5px 35px 8px rgba(0, 0, 0, 0.35));
    }
    .reel-content{
      margin: 0 auto;
      transform: translateY(-46px);
      .yellow-bg{
        padding-top: 36px;
      }
    }
  }
}